html {
  font-size: 14px;
  font-family: "Open Sans";
}

nav {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
  color: #399bd1;
  background-color: inherit;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #399bd1;
  background-color: inherit;
}

.jumbotron-bike {
  background-image: url(../images/jumbotron-bike.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 11.85rem 0rem;
}

.jumbotron h1 {
  font-family: Monoton;
  font-size: 7.1rem;
  color: white;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000,
                1px -1px 0 #000;
  text-align: center;
}

.jumbotron p {
  width: 51.3rem;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.jumbotron a {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  width: 11.4rem;
  padding: 1.3rem 0;
  margin-top: 2.8rem;
}

.jumbotron a:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.jumbotron a:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #339bd1;
  margin-bottom: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

h3.product {
  font-size: 1.3rem;
  font-weight: bold;
  color: #339bd1;
}

h3.product ul li {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

.projects {
  margin-bottom: 5.85rem;
}

.footer {
  padding: 5.2rem 0;
  background-color: #f3f3f3;
}

.footer h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.4rem;
}

.footer p {
  width: 42rem;
  text-align: center;
  margin: 0 auto;
}

.footer a {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  width: 11.4rem;
  padding: 1.3rem 0;
  margin-top: 2.8rem;
}
